body{
  margin: 0;
  font-family: Roboto;
  padding-top: 100px;
}

*{
  margin: 0;
  text-decoration: none;
}


header,nav,.buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-overview-contianer{
  text-align: center;
}

.main-slogan{
  font-size: 80px;
  font-weight: 500;
  font-family: Zalando Sans Expanded;
}

.main-slogan span{
  color: rgb(250,194,60);
}

.main-image{
  height: 450px;
  position: relative;
  top: -50px;
  z-index: -1;
}

header{
  padding: 15px 50px;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 5px black;
  font-family: Roboto , Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

header h1{
  font-family: Lato , sans-serif;
  margin: 0;
}

nav>div,.buttons-container>div{
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav-links{
  color: rgb(63, 62, 62);
  font-weight: 500;
   &:hover{
    color: black;
  }
}

.downarrow{
  margin-top: 2px;
  margin-left: 2px;
  height: 12px;
}

.icons{
  height: 24px;
  background-color: rgb(249, 249, 249);
  padding: 6px;
  border-radius: 18px;
}

.popular-product-container{
  padding: 20px 60px;
}

.popular-product-div{
  padding-top: 20px;
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
}

.p-product-h{
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}

.product-div{
  padding: 0px 5px 20px 5px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px rgb(45, 44, 44);
  }
}

.product{
  height: 80px;
}

.product-img-div{
  background-color: rgba(243, 243, 243, 0.779) ;
  padding: 60px 30px;
  border-radius: 120px;
}

.product-dis{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20px;
  position: relative;
  z-index: 1;
  top: 24px;
}

.product-count-div{
  justify-content: start;
}
.product-count-div select{
  padding: 2px 3px;
  border: 1ps solid rgb(137, 131, 131);
  color: rgb(159, 153, 153);
  cursor: pointer;
  font-weight: bold;
  &:focus{
    border: 1px solid black;
  }
}
.product-rating-div,.product-count-div{
  width: 75%;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
}

.product-rating-div img{
  height: 20px;
}

.product-rating-div p{
  font-weight: 500;
  font-size: 14px;
  color: rgb(94, 93, 93);
}

.product-price-div{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price-div button{
  background-color: rgb(232, 214, 46);
  border: 1px solid black;
  padding: 7px 30px;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: white;
  }
}

.product-price-div p{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(225,113,29);
}

.product-price-div span{
  display: inline-block;
  margin-right: 2px;
  margin-bottom: -2px;
  font-size: 22px;
}

.product-dis h4{
  font-size: 20px;
  color: rgb(60, 59, 59);
}

.product-dis p{
  font-size: 15px;
  color: rgb(171,171,171);
}

.product-dis img{
  height: 30px;
  margin-left: 50px;

}

.rel-drop{
  position: relative;
}

.drop-down-div{
  position: absolute;
  top: 40px;
  left: -100px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 10px 5px black;
  border-top: none;
  font-weight: normal;
  border-radius: 10px;
  width: 280px;
  font-size: 15px;
}

.search-bar{
  padding: 7px 10px;
  width: 200px;
  border-radius:5px;
  border: 1px solid black;
  &:focus{
    outline: 1px solid gray;
  }
}

.search-icon{
  margin-left: -30px;
  background-color: transparent;
  height: 20px;
}

.cart-div{
  position: relative;
}

.cart-count-div{
  background-color: red;
  padding: 2px 5px;
  font-size: 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 2px;
  left: 20px;
}

.user-container-div{
  display: flex;
  align-items: center;
  padding: 8px 18px;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid black;
  font-size: 14px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  &:hover{
    background-color: aliceblue;
  }
}

.user-container-div span{
  color: red;
}
.user-icon{
  background-color: transparent;
  padding: 0;
  margin-right: 5px;
}


.user-drop-div{
  background-color: white;
  position: absolute;
  top: 34px;
  left: -1px;
  right: -1px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px black;
  
}

.user-drop-div>div{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 8px;
  border: 1px solid rgb(161, 161, 161);  
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  &:hover{
    background-color: aliceblue;
  }
}

.user-drop-div img{
  height: 18px;
}

.search-output-div{ 
  background-color: white;
  position: absolute;
  top: 70px;
  left: 30px;
  right: 30px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 5px black;
  border: none;
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  place-content: center;
  padding: 20px;
}

.no-product{
  margin: 10px 50px;
  color: rgba(179, 179, 179, 0.785);
}

.search-close{
  padding: 7px 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(238, 32, 32);
  cursor: pointer;
}