body{
  margin: 0;
}



.main-container{
  display: flex;
  place-content: center;
}

label{
  margin-bottom: 3px;
}

.form-container{
  padding:45px 35px ;
  border: 1px solid black;
  border-radius: 20px;
}

.reg-container{
  padding:30px 30px ;
  border: 1px solid black;
  border-radius: 20px;
}

.welcome-div{
  text-align: center;
  margin-bottom: 20px;
}

.welcome-div>h2{
  margin: 0;
  font-size: 35px;
}

.welcome-div>p{
  margin: 8px 0;
  font-size: 16px;
}

form{
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#email,#password,.submit-btn,#name{
  padding: 12px 8px;
  border-radius: 10px;
  border: 1px solid black;
}

.error{
  height: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
  color: rgba(244, 18, 18, 0.881);
  font-size: 14px;
}

.forgot-div{
  text-align: end;
  margin-bottom: 20px;
  margin-top: -5px;
}

.submit-btn{
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.sign-up{
  text-align: center;
  margin-top: 20px;
}


