.order-summary-img{
  height: 70px;
  padding: 20px 10px;
  background-color: rgba(234, 234, 234, 0.55);
  border-radius: 10px;
}

.order-summary-all-container{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  margin: 0  50px;
}



.order-summary-product-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid rgb(212, 212, 212);
  padding: 20px 40px;
  gap: 20px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  font-weight: 500;
  color: rgb(78, 78, 78);
  font-size: 15px;
}

.order-address-details{
  border: 1px solid rgb(198, 197, 197);
  padding: 20px 0;
  border-radius: 10px;
}

.details>div{
  margin-bottom: 4px;
}

.address-form{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
}

.address-form textarea{
  width: 433px;
  height: 90px;
  margin: 5px;
}

.address-form input{
  width: 200px;
  padding: 10px 5px ;
  margin: 5px;
}

.address-form select{
  width: 215px;
  padding: 11px 10px ;
  margin: 5px;
}

.order-address-details>h2{
  margin-bottom: 10px;
  color: rgb(74, 74, 74);
  text-align: center;
  
}

.set-address{
  background-color: rgb(255, 167, 2);
  border: 1px solid black;
  font-weight: bold;
  border-radius: 5px;
  color: rgb(30, 29, 29);
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
  &:hover{
    background-color: rgba(255, 166, 2, 0.922);
  }
}

.cart-h1{
  font-size: 18px;
}