.all-products-container-div{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
}

.all-div{
  padding: 0 50px;
}

.title-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 0 10px;
}
.title-div h2{
  margin-bottom: 18px;
  font-family: Lato , sans-serif;
}

.title-div img{
  height: 28px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  &:hover{
    opacity: 1;
  }
}

.product-count-div span{
  font-weight: 500;
  font-size: 14px;
  color: rgb(45, 44, 44);
}
